<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            
            <p class="centered"><a href="{% url 'base:profile' user.id %}"><img src="{{user.avatar.url}}" class="img-circle" width="60"></a></p>
            <h5 class="centered">{{user}}</h5>
            
            <li class="mt">
                <a class="active" href="{% url 'base:dashboard' %}" >
                    <i class="fa fa-book"></i>
                    <span>Productos</span>
                </a>
            </li>
               
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>